
<footer class="bg-dark text-white p-3 footer footer-fixed" id="footer">
    <div class="container-flex">
        <!-- <div class="col-md-4">
            <img class="rounded-circle img-logo" height="50px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9F44eGM6QFi_k35ZrXWWzx8XOQnj1iLiK0w&usqp=CAU" alt="">
            <h4>GymIcko</h4>
        </div> -->
      <div class="row">
      
        <div class="col-md-6">
            <img class="rounded-circle img-logo" height="50px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9F44eGM6QFi_k35ZrXWWzx8XOQnj1iLiK0w&usqp=CAU" alt="">
            <h4>GymIcko</h4>
          <p>&copy; 2023 Your Company</p>
        </div>

        <div class="col-md-2">
            <h5>Navigation</h5>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Services</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5>Privacy</h5>
            <ul class="list-unstyled">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5>Follow Us</h5>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#">facebook<i class="fab fa-facebook"></i></a></li><br>
              <li class="list-inline-item"><a href="#">twitter<i class="fab fa-twitter"></i></a></li><br>
              <li class="list-inline-item"><a href="#">instagram<i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        
      </div>
    </div>
  </footer>
  