/* Add your custom styles here */
.footer-logo {
    max-width: 100px;
  }
  
  .change-language {
    /* Styles for the change language component */
  }
  
  /* footer {
    position: relative;
    bottom: 0;
    width: 100%;
  } */
  