<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid" >
      <a class="navbar-brand rounded" href="#" ><img class="rounded-circle img-logo p-1" height="50px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9F44eGM6QFi_k35ZrXWWzx8XOQnj1iLiK0w&usqp=CAU" alt=""  srcset=""><b>GymIcko</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: #8F00FF;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Join Us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->

  <!DOCTYPE html>
  <html>
  <head>
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css"> -->
  </head>
  <body>
      <header>
          <nav class="navbar navbar-expand-lg navbar-white bg-white">
              <div class="container-fluid  ">
                  <a class="navbar-brand" href="/">
                      <img class="rounded-circle img-logo" height="50px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9F44eGM6QFi_k35ZrXWWzx8XOQnj1iLiK0w&usqp=CAU" alt="">
                      <b>GymIcko</b>
                  </a>
  
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
  
                  <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
                      <ul class="navbar-nav ml-auto" style="font-weight: bold;">
                          <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                          <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
                          <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                          <li class="nav-item"><a class="nav-link" href="/signup">SignUp</a></li>
                          <!-- <li class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li> -->
                      </ul>
                  </div>
              </div>
          </nav>
      </header>
  
      <!-- Include Bootstrap JavaScript if needed -->
      <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script> -->
  </body>
  </html>
  
  